/.vs

# === C#/Lab1 ===
/C#/Lab1/.vs
/C#/Lab1/FileCompressor/bin
/C#/Lab1/FileCompressor/obj
/C#/Lab1/AllOther
/C#/Lab1/DataProcessing2/bin
/C#/Lab1/DataProcessing2/obj
/C#/Lab1/UILevel/bin
/C#/Lab1/UILevel/obj
/C#/Lab1/ForTests

# === C#/Lab2 ===
/C#/Lab2/.vs
/C#/Lab2/Main/obj
/C#/Lab2/Main/bin