################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/C#/Lab1/.vs
/C#/Lab1/DataProcessing/obj
/C#/Lab1/FileCompressor/obj
/C#/Lab1/FileCompressor/bin/Debug/net8.0-windows
