# General =====
.vs
bin
obj
.idea
.nuxt
node_modules
.env
.output
.data
.nitro
.cache
dist

dbconnection.txt

# === Year 2 Semester 1 ===
/Year 2 Semester 1/C#/Lab1/AllOther
/Year 2 Semester 1/C#/Lab1/ForTests
/Year 2 Semester 1/C#/Lab3/Progress.txt

# === Year 2 Semester 2 ===
